<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>サンプルページ</title>
	<!-- 共通cssをローカルから取り込み -->
	<link rel="stylesheet" th:href="@{/styles/common.css}">
	<!-- Jqueryを公式サイトから読み込み-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>

<body>
	<!-- コンテナを指定し全体のサイズを調整 -->
	<div class="global-container">
		<div class="container">
			<div id="sample">
				<!-- ヘッダー部　-->
				<div class="header">
					<!-- 共通ヘッダー部　-->
					<div th:include="common :: header" />
				</div>
				<!-- 各ページのコンテンツ部分　-->
				<div id="contens">
					<p>張さんへメッセ―ジ：<span th:text="${message}">サンプルmessage</span></p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>